*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

button{

  padding: 15px 30px;
  font-size: 30px;
  border-radius: 10px;
}